<ion-header>
  <ion-navbar>
    <ion-title>
      {{detaset.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <div>
        <p>{{dataset.tag}}</p>
      </div>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>
<ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="openNavDetailsPage()">追加</button>
      <button ion-fab (click)="openNavDetailsPage()">削除</button>
      <button ion-fab (click)="confirmStartML()">学習</button>
      <button ion-fab (click)="showPreperence()">表示</button>
    </ion-fab-list>
</ion-fab>
</ion-content>
