page-data-addition {
    ion-grid {
        height: 100%;
      
        .image-row {
            height: 50%;
        }        
        .button-row {
            height: 25%;
        }
    }
    .image-col {
        height: 100%;
    }
    .image-canvas {
        height: 100%;
    }
    canvas {
        width: 100%;
    }
}
