<ion-header>
  <ion-navbar>
    <ion-title>
      リモコン
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      赤外線信号一覧
    </ion-list-header>

    <ion-item *ngFor="let remocon of remocons">
      <ion-icon name="ionic"
                item-start
                color="primary"></ion-icon>

      <ion-label>{{remocon.name}}</ion-label>

      <button ion-button
              outline
              item-end
              (click)="onRemoconClicked(remocon)">詳細</button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="light" (click)="onRemoconAdd()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</ion-content>
